<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<form method="POST" action="{{ url_for('user') }}" >
	{{ form.hidden_tag() }}
	<p>{{ form.username.label }} {{ form.username }}
	{% if form.username.errors %}
		{% for error in form.username.errors %}
			{{ error }}
        	{% endfor %}
    	{% endif %}
    	</p>
	<p>{{ form.password.label }} {{ form.password }} </p>
	<p>{{ form.confirm.label }} {{ form.confirm }} </p>
	<p>{{ form.telephone.label }} {{ form.telephone }} </p>
	<p>{{ form.email.label }} {{ form.email}} </p>
	<p>{{ form.address.label }} {{ form.address }} </p>
	<p>{{ form.submit.label }} {{ form.submit }}</p>
</form>
</body>
</html>

