<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div class="page-header">
<form method="POST" action="{{ url_for('user') }}" >
	<ul>
		{{ form.hidden_tag() }}
		<li>{{ form.username.label }} {{ form.username }}
			{% if form.username.errors %}
			{% for error in form.username.errors %}
				{{ error }}
        		{% endfor %}
    			{% endif %}
    		</li>
		<li>{{ form.password.label }} {{ form.password }} </li>
		<li>{{ form.confirm.label }} {{ form.confirm }} </li>
		<li>{{ form.telephone.label }} {{ form.telephone }} </li>
		<li>{{ form.email.label }} {{ form.email}} </li>
		<li>{{ form.address.label }} {{ form.address }} </li>
		<li>{{ form.submit.label }} {{ form.submit }}</li>
	</ul>
</div>
</form>
</body>
</html>

